html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

header {
    height: 46vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        left 25% url(./images/background.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    color: #fff;
}

main {
    height: 54vh;
    box-sizing: border-box;
}

header p {
    font-size: 1.2rem;
    cursor: pointer;
}

header p a{
    text-decoration: none;
    color: #fff;
}

h1 {
    margin: 0;
    font-size: 5rem;
}

form {
    display: grid;
    grid-template-columns: 1fr 12fr 4fr;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    position: relative;
    top: -20px;
    width: 40rem;
    height: 2.375rem;
    border-radius: 6px;
    border-width: 1px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px 0px #0000000D;
}

form * {
    border: none;
    font-family: inherit;
}

input {
    box-sizing: border-box;
    width: 100%;
    border-right: 1px solid grey;
    height: 100%;
}

input:focus {
    outline: none;
}

form button {
    width: 100%;
    height: 100%;
    background: #fff;
}

form button:focus {
    cursor: pointer;
}

.content {
    min-height: calc(100% - 2.75rem);
    display: grid;
    align-items: center;
}

.content i{
    font-size: 4rem;
}

.no-content{
    color: #DFDDDD;
    text-align: center;
}

.searched-movie{
    width: 60vw;
    margin: 0.5rem auto;
    padding: 1.5rem 0;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 3fr;
    border-bottom: 1px solid #D1D5DB;
}

.info-block, .movie-main{
    padding: 1rem 0;
}

.info-block *, .movie-main{
    display: flex;
    align-items: center;
    gap: 10px;
}

.movie-main{
    gap: 1.5rem;

}

.watchlist{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    grid-gap: 2px;
}

.info-block h2, .info-block p, .movie-main *{
    margin: 0;
}

.info-block i{
    color: gold;
    font-size: 1rem;
}

.movie-main i{
    font-size: 1.5rem;
}

.movie-main {
    display: flex;
}

img{
    width: 10rem;
}