html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

header {
    height: 46vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        left 25% url(./images/background.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    color: #fff;
}

main {
    height: 54vh;
    box-sizing: border-box;
}

header p {
    font-size: 1.2rem;
    cursor: pointer;
}

header p a{
    text-decoration: none;
    color: #fff;
}

h1 {
    margin: 0;
    font-size: 5rem;
}

form {
    display: grid;
    grid-template-columns: 1fr 12fr 4fr;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    position: relative;
    top: -20px;
    width: 40rem;
    height: 2.375rem;
    border-radius: 6px;
    border-width: 1px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px 0px #0000000D;
}

form * {
    border: none;
    font-family: inherit;
}

input {
    box-sizing: border-box;
    width: 100%;
    border-right: 1px solid grey;
    height: 100%;
}

input:focus {
    outline: none;
}

form button {
    width: 100%;
    height: 100%;
    background: #fff;
}

form button:focus {
    cursor: pointer;
}

.no-content {
    height: calc(100% - 2.75rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-content * {
    color: #DFDDDD;
}

.no-content i{
    font-size: 4rem;
}